{% extends "base.html" %}

{% block "body" %}
<div class="page-wrapper">
    <div class="container-fluid pt-25">
        	<!-- Title -->
				<div class="row heading-bg">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					  <h5 class="txt-dark">Compteurs</h5>
					</div>
					<!-- Breadcrumb -->
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
					  <ol class="breadcrumb">
						<li><a href={% url "home" %}>Dashboard</a></li>
						<li class="active"><span>Compteurs</span></li>
					  </ol>
					</div>
					<!-- /Breadcrumb -->
				</div>
				<!-- /Title -->
        <!-- Row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <!-- <div class="pull-left">
                            <h4 class="panel-title txt-dark">Compteurs</h4>
                        </div> -->
                        <div class="pull-right">
                            
                            {% if url == "compteurs-appart" %}
                                <a href={% url "new-compteur-appart" id_appart %} class="btn btn-primary">Nouveau compteur</a>
                            {% else %}
                                <a href={% url "new-compteur" %} class="btn btn-primary">Nouveau compteur</a>
                            {% endif %}
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-wrap">
                                <div class="">
                                    <table id="myTable1" class="table table-hover display pb-30" >
                                        <thead>
                                            <tr>
                                                <th>ID</th>
                                                <th>Appartement</th>
                                                <th>classe</th>
                                                <th>modele</th>
                                                <th>credit</th>
                                                <th>Transformateur</th>
                                                <th>P totale</th>
                                                <th>Q totale</th>
                                                <th>Etat</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>ID</th>
                                                <th>Appartement</th>
                                                <th>classe</th>
                                                <th>modele</th>
                                                <th>credit</th>
                                                <th>Transformateur</th>
                                                <th>P. totale</th>
                                                <th>Q totale</th>
                                                <th>Etat</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for compteur in compteurs %}  
                                            <tr>
                                                <td>{{compteur.id}}</td>
                                                <td>{{compteur.appartement|truncatewords:5}}</td>
                                                <td>{{compteur.classe.designation}}</td>
                                                <td>{{compteur.modele}}</td>
                                                <td>{{compteur.credit}}</td>
                                                <td>{{compteur.transformateur.designation}}</td>
                                                <td>{{compteur.p_phase1|add:compteur.p_phase2|add:compteur.p_phase3}}</td>
                                                <td>{{compteur.q_phase1|add:compteur.q_phase3|add:compteur.q_phase3}}</td>
                                                <td>
                                                    {% if compteur.global_state == 'ON' %}
                                                        <span class="label label-success">ON</span>
                                                    {% else %}
                                                    <span class="label label-danger">OFF</span>
                                                    {% endif %}  
                                                </td>
                                                <td>
                                                    <div class="btn-group-toggle">
                                                        <a href={% url "compteur" compteur.id %} title="Details"><i class="ti ti-plus mr-10"></i></a>
                                                        <a href={% url "update-compteur" compteur.id %} title="Editer"><i class="ti ti-pencil mr-10"></i></a>
                                                        <a href={% url "delete-compteur" compteur.id %} title="Supprimer"><i class="ti ti-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <!-- /Row -->
    </div>
    <script>
        document.getElementById("link-compteurs").setAttribute("class", "active");
    </script>
{% endblock "body" %}
    