{% extends "base.html" %}

{% block "body" %}
<div class="row">
    <div class="col-lg-offset-3 col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="row">
            <div class="mt-90 mb-90"></div>
        </div>
        <div class="panel panel-warning contact-card card-view mt-90 mb-90">
            <div class="panel-heading">
                <div class="txt-dark" style="font-size: 30px;">Avertissement</div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body row">
                  <div class="text-lg-center">
                    <p><span class="txt-dark">Etes-vous sûr(e) de vouloir poursuivre la suppression?</span></p>
                    <p><span class="txt-dark">Une fois effectuée, cette action est irreversible!</span></p>
                  </div>
                </div>
                <div class="panel-footer">
                  <form action="" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <button type="submit" class="btn btn-danger mr-20">Confirmer</button>
                      <a href={% url 'home' %} type="reset" class="btn btn-success mr-20">Annuler</a>
                    </div>
                  </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="mt-90 mb-90"></div>
        </div>
        <div class="row">
            <div class="mt-90 mb-90"></div>
        </div>
    </div>		
</div>
<!-- Row -->
{% endblock "body" %}