{% extends "base.html" %}


{% block "body" %}
<div class="page-wrapper">
    <div class="container-fluid pt-25">
        	<!-- Title -->
			<div class="row heading-bg">
				<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
					<h5 class="txt-dark">Transformateurs</h5>
				</div>
				<!-- Breadcrumb -->
				<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
					<ol class="breadcrumb">
					    <li><a href={% url "home" %}>Dashboard</a></li>
					    <li class="active"><span>Transfos</span></li>
					</ol>
				</div>
				<!-- /Breadcrumb -->
			</div>
			<!-- /Title -->
        <!-- Row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h4 class="panel-title txt-dark">Transformateurs</h4>
                        </div>
                        <div class="pull-right">
                            <a href={% url "new-transfo" %} class="btn btn-primary">Enregistrer un transfo</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-wrap">
                                <div class="">
                                    <table id="myTable1" class="table table-hover display  pb-30" >
                                        <thead>
                                            <tr>
                                                <th>Designation</th>
                                                <th>Puissance active</th>
                                                <th>Puissance reactive</th>
                                                <th>etat</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Localisation</th>
                                                <th>Puissance active</th>
                                                <th>Puissance reactive</th>
                                                <th>etat</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for transfo in transfos %}  
                                            <tr>
                                                <td>{{transfo.designation}}</td>
                                                <td>{{transfo.p_max}}</td>
                                                <td>{{transfo.q_max}}</td>
                                                <td>
                                                    {% if transfo.global_state == 'ON' %}
                                                        <span class="label label-success">ON</span>
                                                    {% else %}
                                                    <span class="label label-danger">OFF</span>
                                                    {% endif %}  
                                                </td>
                                                <td>
                                                    <div class="btn-group-toggle">
                                                        <a href={% url "transfo" transfo.id %} title="Afficher les details"><i class="ti ti-plus  mr-10"></i></a>
                                                        <a href={% url "update-transfo" transfo.id %} user.id %} title="Editer"><i class="ti ti-pencil  mr-10"></i></a>
                                                        <a href={% url "delete-transfo" transfo.id %} title="Supprimer"><i class="ti ti-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <!-- /Row -->
    </div>
    <script>
        document.getElementById("link-transfos").setAttribute("class", "active");
    </script>
{% endblock "body" %}
    