{% extends "admin/base.html" %}


{% block "body" %}
<div class="page-wrapper">
    <div class="container-fluid pt-25">
        <!-- Row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h4 class="panel-title txt-dark">Compteurs</h4>
                        </div>
                        <div class="pull-right">
                            <a href={% url "new-compteur" %} class="btn btn-primary">Nouveau compteur</a>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-wrap">
                                <div class="">
                                    <table id="myTable1" class="table table-hover display  pb-30" >
                                        <thead>
                                            <tr>
                                                <th>Appartement</th>
                                                <th>classe</th>
                                                <th>modele</th>
                                                <th>credit</th>
                                                <th>Transformateur</th>
                                                <th>P totale</th>
                                                <th>Q totale</th>
                                                <th>Etat</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Appartement</th>
                                                <th>classe</th>
                                                <th>modele</th>
                                                <th>credit</th>
                                                <th>Transformateur</th>
                                                <th>P. totale</th>
                                                <th>Q totale</th>
                                                <th>Etat</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for compteur in compteurs %}  
                                            <tr>
                                                <td>{{compteur.appartement|truncatewords:5}}</td>
                                                <td>{{compteur.classe}}</td>
                                                <td>{{compteur.modele}}</td>
                                                <td>{{compteur.credit}}</td>
                                                <td>{{compteur.transformateur}}</td>
                                                <td>{{compteur.p_phase1|add:compteur.p_phase2|add:compteur.p_phase3}}</td>
                                                <td>{{compteur.q_phase1|add:compteur.q_phase3|add:compteur.q_phase3}}</td>
                                                <td>
                                                    {% if compteur.global_state == 'ON' %}
                                                        <a class="btn btn-success btn-sm">ON</a>
                                                    {% else %}
                                                    <a class="btn btn-danger brn-sm">OFF</a>
                                                    {% endif %}  
                                                </td>
                                                <td>
                                                    <div class="btn-group-toggle">
                                                        <a href="" title="Details"><i class="ti ti-plus"></i></a>
                                                        <a href={% url "update-compteur" compteur.id %} title="Editer"><i class="ti ti-pencil"></i></a>
                                                        <a href={% url "delete-compteur" compteur.id %} title="Supprimer"><i class="ti ti-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <!-- /Row -->
    </div>
{% endblock "body" %}
    