{% extends "admin/base.html" %}

{% block "body" %}
<!-- Right Sidebar Backdrop -->
<div class="right-sidebar-backdrop"></div>
<!-- /Right Sidebar Backdrop -->
    
<!-- Main Content -->
<div class="page-wrapper">
    <div class="container-fluid">
        
        <!-- Title -->
        <div class="row heading-bg">
            <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                <h4 class="txt-dark">Transformateur</h4>
            </div>
        
            <!-- Breadcrumb -->
            <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
                <ol class="breadcrumb">
                    <li><a href={% url "home" %}>Dashboard</a></li>
                    <li><a href={% url "users" %}><span>Transformateurs</span></a></li>
                    <li class="active"><span>Nouveau</span></li>
                </ol>
            </div>
            <!-- /Breadcrumb -->
        
        </div>
        <!-- /Title -->
        
        <!-- Row -->
            <div class="col-offset-2 col-md-9">
                <div class="panel panel-default vertical-align-middle card-view">
                    <div class="panel-heading">
                        <!-- <div class="pull-left">
                            <h4 class="panel-title txt-dark">ENREGISTRER UTILISATEUR</h4>
                        </div> -->
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12 col-xs-12">
                                    <div class="form-wrap">
                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                                <label class="control-label mb-10" for="designation">Designation</label>
                                                <input class="form-control" name="designation" id="designation" placeholder="Designation"  required/>
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label mb-10" for="p_max">Puissance active</label>
                                                <div class="input-group">
                                                    <input class="form-control" type="number" min=0 name="p_max" id="p_max" placeholder="Puissance active maximale"  required/>
                                                    <div class="input-group-addon"><i>KVA</i></div>
                                                </div>
                                                
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label mb-10" for="q_max">Puissance reactive</label>
                                                <div class="input-group">
                                                    <input class="form-control" name="q_max" min=0 id="q_max" placeholder="Puissance réactive maximale"  required/>
                                                    <div class="input-group-addon"><i>KVA</i></div>
                                                </div>
                                            </div>
                                            <div class="btn-group-toggle">
                                                <button type="submit" class="btn btn-success">Enregistrer</button>
                                                <button type="reset" class="btn btn-danger">Annuler</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>
{% endblock "body" %}
    