{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>SNEL Admin</title>
	<meta name="description" content="SmartElect est une plateforme de gestion d'energie electrique à distance à l'aide d'un centre d'administration" />
	<meta name="keywords" content="éléctricité, compteur, appartement, consommation d'energie electrique" />
	<meta name="author" content="Kornelius-Mg(corneillemg@gmail.com"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="favicon.ico">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="alternate" type="application/rss+xml" title="RSS 2.0" href="http://www.datatables.net/rss.xml">

	<!-- Bootstrap core -->
    <link href={% static "vendors/bower_components/bootstrap/dist/css/bootstrap.min.css" %} rel="stylesheet" type="text/css" />
    
	<!-- Morris Charts CSS -->
    <link href={% static "vendors/bower_components/morris.js/morris.css" %} rel="stylesheet" type="text/css"/>
	
    <!-- Chartist CSS -->
	<link href={% static "vendors/bower_components/chartist/dist/chartist.min.css" %} rel="stylesheet" type="text/css"/>
	
	<!-- Data table CSS -->
	<link href={% static "vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" %} rel="stylesheet" type="text/css"/>
	
	<link href={% static "vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.css" %} rel="stylesheet" type="text/css">
	
	<!-- bootstrap-select CSS -->
	<link href={% static "vendors/bower_components/bootstrap-select/dist/css/bootstrap-select.min.css"%} rel="stylesheet" type="text/css"/>	
		
	<!-- switchery CSS -->
	<link href={% static "vendors/bower_components/switchery/dist/switchery.min.css" %} rel="stylesheet" type="text/css"/>
	
	<!-- vector map CSS -->
    <link href={% static "vendors/vectormap/jquery-jvectormap-2.0.2.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- Calendar CSS -->
    <link href={% static "vendors/bower_components/fullcalendar/dist/fullcalendar.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- Footable CSS -->
	<link href={% static "vendors/bower_components/jsgrid/dist/jsgrid.min.css" %} rel="stylesheet" type="text/css"/>
    <link href={% static "vendors/bower_components/jsgrid/dist/jsgrid-theme.min.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- Summernote css -->
    <link rel="stylesheet" href={% static "vendors/bower_components/summernote/dist/summernote.css" %} />
    
    <!-- bootstrap-touchspin CSS -->
    <link href={% static "vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" %} rel="stylesheet" type="text/css"/>
    
	<!-- jquery-steps css -->
    <link rel="stylesheet" href={% static "vendors/bower_components/jquery.steps/demo/css/jquery.steps.css" %}>

    <!-- Custom Fonts -->
    <link href={% static "dist/css/font-awesome.min.css" %} rel="stylesheet" type="text/css">

    <!-- Ion.RangeSlider -->
	<link href={% static "vendors/bower_components/ion.rangeSlider/css/ion.rangeSlider.css" %} rel="stylesheet" type="text/css">
    <link href={% static "vendors/bower_components/ion.rangeSlider/css/ion.rangeSlider.skinModern.css" %} rel="stylesheet" type="text/css">
    
    <!--alerts CSS -->
    <link href={% static "vendors/bower_components/sweetalert/dist/sweetalert.css" %} rel="stylesheet" type="text/css">
    
    <!-- Tablesaw table CSS -->
    <link href={% static "vendors/bower_components/filament-tablesaw/dist/tablesaw.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- Font -->
    <script src="https://hencework.com/hkfont.js"></script>
    
    <!-- Bootstrap table CSS -->
    <link href={% static "vendors/bower_components/bootstrap-table/dist/bootstrap-table.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- Bootstrap Treeview -->
    <link href={% static "vendors/bower_components/bootstrap-treeview/dist/bootstrap-treeview.min.css" %} rel="stylesheet" type="text/css">
    
    <!-- Bootstrap Wysihtml5 css -->
    <link rel="stylesheet" href={% static "vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" %} />
    
    <!-- Fancy-Buttons CSS -->
    <link href={% static "dist/css/fancy-buttons.css" %} rel="stylesheet" type="text/css">
    
    <!-- Owl CSS -->
	<link href={% static "vendors/bower_components/owl.carousel/dist/assets/owl.carousel.min.css" %} rel="stylesheet" type="text/css">
    <link href={% static "vendors/bower_components/owl.carousel/dist/assets/owl.theme.default.min.css" %} rel="stylesheet" type="text/css">
    
    <!-- Bootstrap Dropzone CSS -->
    <link href={% static "vendors/bower_components/dropzone/dist/dropzone.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- Bootstrap Colorpicker CSS -->
	<link href={% static "vendors/bower_components/mjolnic-bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css" %} rel="stylesheet" type="text/css"/>
		
	<!-- select2 CSS -->
    <link href={% static "vendors/bower_components/select2/dist/css/select2.min.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- bootstrap-tagsinput CSS -->
	<link href={% static "vendors/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" %} rel="stylesheet" type="text/css"/>
		
	<!-- bootstrap-touchspin CSS -->
	<link href={% static "vendors/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" %} rel="stylesheet" type="text/css"/>
		
	<!-- multi-select CSS -->
	<link href={% static "vendors/bower_components/multiselect/css/multi-select.css" %} rel="stylesheet" type="text/css"/>
		
	<!-- Bootstrap Switches CSS -->
	<link href={% static "vendors/bower_components/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.min.css" %} rel="stylesheet" type="text/css"/>
		
	<!-- Bootstrap Datetimepicker CSS -->
	<link href={% static "vendors/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %} rel="stylesheet" type="text/css"/>
	
    <!-- Jasny-bootstrap CSS -->
    <link href={% static "vendors/bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- Bootstrap Dropify CSS -->
    <link href={% static "vendors/bower_components/dropify/dist/css/dropify.min.css" %} rel="stylesheet" type="text/css"/>
    
    <!-- Bootstrap Daterangepicker CSS -->
    <link href={% static "vendors/bower_components/bootstrap-daterangepicker/daterangepicker.css" %} rel="stylesheet" type="text/css"/>

    <!-- Custom CSS -->
    <link href={% static "dist/css/perfect-scrollbar.min.html" %} rel="stylesheet" type="text/css">
    <link href={% static "dist/css/style.css" %} rel="stylesheet" type="text/css">
    
</head>