{% extends "admin/base.html" %}


{% block "body" %}
<div class="page-wrapper">
    <div class="container-fluid pt-25">
        <!-- Row -->
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h4 class="panel-title txt-dark">Transformateurs</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="table-wrap">
                                <div class="">
                                    <table id="myTable1" class="table table-hover display  pb-30" >
                                        <thead>
                                            <tr>
                                                <th>Localisation</th>
                                                <th>Puisaance active</th>
                                                <th>Puissance reactive</th>
                                                <th>etat</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Localisation</th>
                                                <th>Puisaance active</th>
                                                <th>Puissance reactive</th>
                                                <th>etat</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            {% for transfo in transfos %}  
                                            <tr>
                                                <td>{{transfo.localisation}}</td>
                                                <td>{{transfo.p_max}}</td>
                                                <td>{{transfo.q_max}}</td>
                                                <td>
                                                    {% if compteur.global_state == 'ON' %}
                                                        <a class="btn btn-success btn-sm">ON</a>
                                                    {% else %}
                                                    <a class="btn btn-danger brn-sm">OFF</a>
                                                    {% endif %}  
                                                </td>
                                                <td>
                                                    <div class="btn-group-toggle">
                                                        <a href="" title="Details"><i class="ti ti-plus  mr-10"></i></a>
                                                        <a href="" user.id %} title="Editer"><i class="ti ti-pencil  mr-10"></i></a>
                                                        <a href="" title="Supprimer"><i class="ti ti-trash"></i></a>
                                                    </div>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>	
            </div>
        </div>
        <!-- /Row -->
    </div>
{% endblock "body" %}
    