{% include 'header.html' %}
	<body>
		<!--Preloader-->
		<div class="preloader-it">
			<div class="la-anim-1"></div>
		</div>
		<!--/Preloader-->
		
		<div class="wrapper pa-0">
			<header class="sp-header">
				<div class="sp-logo-wrap pull-left">
					<a href="{% url 'home' %}">
						<!-- <img class="brand-img mr-10" src="../img/logo.png" alt="brand"/> -->
						<span class="brand-text">SmartElec</span>
					</a>
				</div>
				<div class="form-group mb-0 pull-right">
					<span class="inline-block pr-10">Vous avez déjà un compte?</span>
					<a class="inline-block btn btn-info btn-success btn-rounded btn-outline" href="{% url 'login' %}">Se connecter</a>
				</div>
				<div class="clearfix"></div>
			</header>
			
			<!-- Main Content -->
			<div class="page-wrapper pa-0 ma-0 auth-page">
				<div class="container-fluid">
					<!-- Row -->
					<div class="table-struct full-width full-height">
						<div class="table-cell vertical-align-middle auth-form-wrap">
							<div class="auth-form  ml-auto mr-auto no-float">
								<div class="row">
									<div class="col-sm-12 col-xs-12">
										<div class="mb-30">
											<h3 class="text-center txt-dark mb-10">Modifier admin</h3>
											<h6 class="text-center nonecase-font txt-grey">Enter your details below</h6>
										</div>
										<div class="form-wrap">
											<form action="" method="POST" enctype="multipart/form-data">
                                            	{% csrf_token %}
                                                <div class="form-group">
                                                    <div class="invalid-feedback" style="color: red;">{{form.errors.firstname}}</div>
													<label class="control-label mb-10" for="exampleInputName_1">Prenom</label>
													<input value = {{user.first_name}} type="text" name="firstname" class="form-control" required id="firstname" placeholder="Prénom">
												</div>
                                                <div class="form-group">
													<div class="help-block with-errors" style="color: red;">{{form.errors.lastname}}</div>
													<label class="control-label mb-10" for="exampleInputName_1">Nom</label>
													<input value = {{user.last_name}} type="text" name="lastname" class="form-control" required="" id="lastname" placeholder="Nom">
												</div>
												<div class="form-group">
													<div class="help-block with-errors" style="color: red;">{{form.errors.username}}</div>
													<label class="control-label mb-10" for="exampleInputName_1">Username</label>
													<input value = {{user.username}} type="text" name="username" class="form-control" required="" id="username" placeholder="Username">
												</div>
												<div class="form-group">
													<div class="help-block with-errors" style="color: red;">{{form.errors.email}}</div>
													<label class="control-label mb-10" for="exampleInputEmail_2">Email address</label>
													<input value = {{user.email}} type="email" name="email" class="form-control" required="" id="email" placeholder="Enter email">
												</div>
												<div class="form-group">
													<div class="help-block with-errors" style="color: red;">{{form.errors.password}}</div>
													<label class="pull-left control-label mb-10" for="exampleInputpwd_2">Password</label>
													<input value = {{user.password}} type="password" name="password" class="form-control" id="exampleInputpwd_2" placeholder="Mot de passe">
												</div>
												<div class="form-group">
													<div class="help-block with-errors" style="color: red;">{{form.errors.conf_psw}}</div>
													<label class="pull-left control-label mb-10" for="exampleInputpwd_3">Confirm Password</label>
													<input type="password" name="conf_psw" class="form-control" id="exampleInputpwd_3" placeholder="Mot de passe">
												</div>
                                                <div class="form-group">
													<div class="help-block with-errors" style="color: red;">{{form.errors.telephone}}</div>
													<label class="pull-left control-label mb-10" for="exampleInputpwd_3">Telephone</label>
													<input value = {{user.profile.telephone}} type="phone" name="telephone" class="form-control" required id="exampleInputpwd_3" placeholder="telephone">
												</div>
                                                <div class="form-group">
													<div class="help-block with-errors" style="color: red;">{{form.errors.avatar}}</div>
													<label class="pull-left control-label mb-10" for="exampleInputpwd_3">Avatar</label>
													<input value = {{user.profile.avatar}} type="file" class="form-control" name="avatar" id="exampleInputpwd_3" placeholder="avatar">
												</div>
												<div class="form-group">
													<div class="checkbox checkbox-primary pr-10 pull-left">
														<input id="checkbox_2" type="checkbox">
														<label for="checkbox_2"> I agree to all <span class="txt-primary">Terms</span></label>
													</div>
													<div class="clearfix"></div>
												</div>
												<div class="form-group text-center">
													<button type="submit" class="btn btn-info btn-success btn-rounded">Enregistrer</button>
												</div>
											</form>
										</div>
									</div>	
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->	
				</div>
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
{% include 'footer.html' %}